.mobile-menu-button {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.nav-links li a {
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  .nav-links-container {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 1000;
  }

  .nav-links {
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 1rem;
    padding-top: 2rem;
  }

  .nav-links li a {
    font-size: 2.2rem;
  }
}
