<ul class="nav-links">
  <li>
    <a
      routerLink="/{{ paths.home }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      title="Go Home"
    >
      Home
    </a>
  </li>
  <li>
    <a
      routerLink="/{{ paths.cars }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      title="View Cars"
    >
      Cars
    </a>
  </li>
  <li>
    <a
      routerLink="/{{ paths.contacts }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      title="View Contacts"
    >
      Contacts
    </a>
  </li>
  <li>
    @if (isLoggedIn) {
      <app-profile-dropdown />
    } @else {
      <a
        routerLink="/{{ paths.login }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        title="Login"
      >
        Login
      </a>
    }
  </li>
</ul>
