.how-it-works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.how-it-works-section img {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

@media (max-width: 768px) {
  .how-it-works-section img {
    height:300px;
  }
}
