<section class="how-it-works-section">
  <div class="container spacer">
    <h2 class="text-center mb-3">How It Works</h2>

    <ul class="py-4">
      <li>
        <app-how-it-works-step
          icon="Compass"
          heading="Browse"
          description="Choose from a wide selection of cars"
        />
      </li>
      <li>
        <app-how-it-works-step
          icon="Vote"
          heading="Book"
          description="Secure your vechile with a quick and easy booking process"
        />
      </li>
      <li>
        <app-how-it-works-step
          icon="Car"
          heading="Pick Up"
          description="Pick up your car at the designated location"
        />
      </li>
    </ul>
  </div>
</section>
