<section class="container rent-car-container spacer">
  <aside class="rent-car-details" aria-label="Car details">
    <img
      [src]="carDetails?.image"
      alt="{{ carDetails?.brand }} {{ carDetails?.model }}"
      class="car-image"
    />
  </aside>
  <form [formGroup]="rentCarForm" class="rent-car-form">
    <h1 class="mb-3">
      Rent {{ carDetails?.brand }} {{ carDetails?.model }} {{ carDetails?.year }}
    </h1>
    <p class="mb-4">Fill in the details below to rent this car.</p>
    <label for="rentalDuration">Rental Duration (days):</label>
    <input
      type="number"
      id="rentalDuration"
      name="rentalDuration"
      min="1"
      required
      formControlName="rentalDuration"
    />
    @if (isFieldInvalid('rentalDuration')) {
      <span class="error">Rental duration must be at least 1 day.</span>
    }

    <button class="primary" [disabled]="rentCarForm.invalid" (click)="onSubmit()">Rent Car</button>
  </form>
</section>
