<section class="container rent-car-container spacer">
  <aside class="rent-car-details" aria-label="Car details">
    <img
      [src]="carDetails?.image"
      alt="{{ carDetails?.brand }} {{ carDetails?.model }}"
      class="car-image"
    />
  </aside>
  <form [formGroup]="rentCarForm" class="rent-car-form">
    <h1 class="mb-3">
      Rent {{ carDetails?.brand }} {{ carDetails?.model }} {{ carDetails?.year }}
    </h1>
    <h5 class="mb-2">
      Choose your rental dates below. The car will be available for pickup on the start date and
      must be returned by the end date.
    </h5>
    <p class="mb-3">
      <strong>Price:</strong>
      {{ carDetails?.pricePerDay | currency: 'USD' : 'symbol' : '1.2-2' }} per day
    </p>

    <label for="startDate">Start Date:</label>
    <input
      type="date"
      id="startDate"
      name="startDate"
      required
      formControlName="startDate"
      [min]="getToday()"
    />
    @if (isFieldInvalid('startDate')) {
      <span class="error">Start date is required.</span>
    }

    <label for="endDate">End Date:</label>
    <input
      type="date"
      id="endDate"
      name="endDate"
      required
      formControlName="endDate"
      [min]="rentCarForm.get('startDate')?.value || getToday()"
    />
    @if (isFieldInvalid('endDate')) {
      <span class="error">End date is required.</span>
    }

    <button class="primary" [disabled]="rentCarForm.invalid" (click)="onSubmit()">Rent Car</button>
  </form>
</section>
