.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 140px;
  height: 50px;
  object-fit: contain;
}

.logo span {
  font-weight: bold;
  font-size: 1.5rem;
}
