<section class="container register">
  <aside>
    <img src="assets/images/drivio-1.webp" alt="Register Illustration" />
  </aside>
  <div class="register-form-container">
    <h1 class="mb-3">Register</h1>
    <p class="mb-1">Create a new account to start using our services.</p>
    <p class="mb-4">Already have an account? <a routerLink="/{{ paths.login }}">Login here</a>.</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <input type="text" placeholder="First Name" formControlName="firstName" />
      @if (registerForm.get('firstName')?.errors?.['minlength']) {
        <span class="error">First name must be at least 2 characters long.</span>
      }
      <input type="text" placeholder="Last Name" formControlName="lastName" />
      @if (registerForm.get('lastName')?.errors?.['minlength']) {
        <span class="error">Last name must be at least 2 characters long.</span>
      }
      <input type="text" placeholder="Phone Number" formControlName="phoneNumber" />
      @if (registerForm.get('phoneNumber')?.errors?.['pattern']) {
        <span class="error">Please enter a valid phone number.</span>
      }
      <input type="email" placeholder="Email" formControlName="email" />
      @if (registerForm.get('email')?.errors?.['email']) {
        <span class="error">Please enter a valid email address.</span>
      }
      <input type="password" placeholder="Password" formControlName="password" />
      @if (registerForm.get('password')?.errors?.['minlength']) {
        <span class="error">Password must be at least 6 characters long.</span>
      }
      <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
      @if (
        registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched
      ) {
        <span class="error">Passwords must match.</span>
      }
      @if (registerError) {
        <span class="error">{{ registerError }}</span>
      }
      <button class="primary" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</section>
