@let isLoggedIn = isLoggedIn$ | async;

<section class="container spacer">
  @if (car) {
    <article class="car-details" tabindex="0">
      <!--  Left column -->
      <div class="car-details__info" aria-label="Car details">
        <header class="car-details__header">
          <h1 tabindex="0">
            {{ car.brand }} {{ car.model }}
            <span class="car-details__year"> ({{ car.year }}) </span>
          </h1>

          <span class="sr-only"> Car status {{ car.status }} </span>

          <app-chip
            [label]="car.status"
            [color]="car.status === 'free' ? 'success' : 'danger'"
            tabindex="0"
          >
          </app-chip>
        </header>
        <img [src]="car.image" alt="{{ car.brand }}" class="car-image" />
      </div>

      <!-- Right column -->
      <aside class="car-details__description" tabindex="0">
        <section class="mb-3">
          <h3 class="mb-3">Description</h3>
          <p tabindex="0" aria-label="Car description">{{ car.description }}</p>
        </section>
        <app-divider />
        <section class="mb-3">
          <h4 tabindex="0">
            Price: {{ car.pricePerDay | currency: 'USD' : 'symbol' : '1.2-2' }} / day
          </h4>
        </section>
        <app-divider />
        <h3 class="mb-3">Features</h3>
        <ul class="car-details__features" tabindex="0" aria-label="Car features">
          @for (feature of car.features; track feature) {
            <li tabindex="0">
              {{ feature | titlecase }}
            </li>
          }
        </ul>
        @if (car.status === 'rented' && !(isOwner$ | async)) {
          <strong class="mt-4 block"
            >This car is currently rented. Feel free to check other
            <span class="text-primary underline cursor-pointer" routerLink="/{{ paths.cars }}">
              <a routerLink="{{ paths.cars }}"></a>
              cars.
            </span>
          </strong>
        }

        <footer class="car-details__actions">
          @if (car.status === 'rented' && (isOwner$ | async) && isLoggedIn) {
            <section class="car-details__owner-actions">
              <button
                class="primary button-with-icon"
                (click)="toggleEditRentalModal()"
                aria-label="Edit rental details"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-label="Edit"
                >
                  <path
                    d="M4 21h4.586a1 1 0 0 0 .707-.293l11-11a1 1 0 0 0 0-1.414L17.707 5a1 1 0 0 0-1.414 0l-11 11A1 1 0 0 0 5 17.414V21zM6 18v-1.586L16.293 6.121 17.879 7.707 7.586 18H6zm13.707-11.707a1 1 0 0 0 0-1.414l-1.586-1.586a1 1 0 0 0-1.414 0L15 4.586 19.414 9l.293-.293z"
                  />
                </svg>

                Edit rental details
              </button>
              <button
                class="error button-with-icon"
                (click)="toggleCancelRentalModal()"
                aria-label="Cancel rental"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  aria-label="Cancel"
                >
                  <path
                    d="M18.364 5.636a1 1 0 0 0-1.414 0L12 10.586 7.05 5.636a1 1 0 1 0-1.414 1.414L10.586 12l-4.95 4.95a1 1 0 1 0 1.414 1.414L12 13.414l4.95 4.95a1 1 0 0 0 1.414-1.414L13.414 12l4.95-4.95a1 1 0 0 0 0-1.414z"
                  />
                </svg>

                Cancel rental
              </button>
            </section>
          }
          @if (isLoggedIn && car.status === 'free') {
            <button
              class="primary"
              routerLink="/{{ paths.rentCar(car.id.toString()) }}"
              aria-label="Rent this car"
            >
              Rent this car
            </button>
          }
          @if (!isLoggedIn && car.status === 'free') {
            <button
              class="error my-4"
              routerLink="/{{ paths.login }}"
              aria-label="Login to rent this car"
            >
              Login to rent this car
            </button>
          }
        </footer>
      </aside>
    </article>
    <section class="car-details__more-cars">
      <h3 class="text-center mb-4">See more of our cars</h3>

      <ul class="flex-auto">
        @for (car of listWithMoreCars; track car) {
          <li>
            <app-car-card [car]="car" />
          </li>
        }
      </ul>
    </section>
  }
</section>

@if (showCancelRentalModal) {
  <app-cancel-rental-modal
    [rentalId]="rentalId"
    [show]="showCancelRentalModal"
    (closed)="closeCancelRentalModal()"
    (rentalCanceled)="onRentalCanceled()"
  ></app-cancel-rental-modal>
}

@if (showEditRentalModal) {
  <app-edit-rental-modal
    [rentalId]="rentalId"
    [show]="showEditRentalModal"
    (closed)="closeEditRentalModal()"
    (rentalUpdated)="onRentalUpdated()"
  ></app-edit-rental-modal>
}
