@let isLoggedIn = isLoggedIn$ | async;

<section class="container spacer">
  @if (car) {
    <article class="car-details" tabindex="0">
      <!--  Left column -->
      <div class="car-details__info" aria-label="Car details">
        <header class="car-details__header">
          <h1 tabindex="0">
            {{ car.brand }} {{ car.model }}
            <span class="car-details__year"> ({{ car.year }}) </span>
          </h1>

          <span class="sr-only"> Car status {{ car.status }} </span>

          <app-chip
            [label]="car.status"
            [color]="car.status === 'free' ? 'success' : 'danger'"
            tabindex="0"
          >
          </app-chip>
        </header>
        <img [src]="car.image" alt="{{ car.brand }}" class="car-image" />
      </div>

      <!-- Right column -->
      <aside class="car-details__description" tabindex="0">
        <section class="mb-3">
          <h3 class="mb-3">Description</h3>
          <p tabindex="0" aria-label="Car description">{{ car.description }}</p>
        </section>
        <app-divider />
        <section class="mb-3">
          <h4 tabindex="0">
            Price: {{ car.pricePerDay | currency: 'USD' : 'symbol' : '1.2-2' }} / day
          </h4>
        </section>
        <app-divider />
        <h3 class="mb-3">Features</h3>
        <ul class="car-details__features" tabindex="0" aria-label="Car features">
          @for (feature of car.features; track feature) {
            <li tabindex="0">
              {{ feature | titlecase }}
            </li>
          }
        </ul>
        @if (car.status === 'rented') {
          <strong class="mt-4 block"
            >This car is currently rented. Feel free to check other
            <span class="text-primary underline cursor-pointer" routerLink="/{{ paths.cars }}">
              <a routerLink="{{ paths.cars }}"></a>
              cars.
            </span>
          </strong>
        }
        <footer class="car-details__actions">
          @if (isLoggedIn && car.status === 'free') {
            <button
              class="primary"
              routerLink="/{{ paths.rentCar(car.id.toString()) }}"
              aria-label="Rent this car"
            >
              Rent this car
            </button>
          }
          @if (!isLoggedIn && car.status === 'free') {
            <button
              class="error my-4"
              routerLink="/{{ paths.login }}"
              aria-label="Login to rent this car"
            >
              Login to rent this car
            </button>
          }
        </footer>
      </aside>
    </article>
    <section class="car-details__more-cars">
      <h3 class="text-center mb-4">See more of our cars</h3>

      <ul class="flex-auto">
        @for (car of listWithMoreCars; track car) {
          <li>
            <app-car-card [car]="car" />
          </li>
        }
      </ul>
    </section>
  }
</section>
