<article class="car-card" [attr.aria-label]="'Car: ' + car.brand + ' ' + car.model">
  <img [src]="car.image" alt="{{ car.brand }} {{ car.model }}" class="car-image" />

  <section class="car-content" tabindex="0">
    <header class="car-header" [attr.aria-label]="'Price: $' + car.pricePerDay + '/day'">
      <h5 class="car-name">{{ car.brand }} {{ car.model }} ({{ car.year }})</h5>
      <p class="car-price">
        <strong>${{ car.pricePerDay }}</strong
        >/day
      </p>
    </header>
    <div class="divider"></div>
    <footer class="car-footer">
      <app-car-features [features]="car.features"></app-car-features>

      <a class="primary mt-1" routerLink="/{{ paths.carDetails(car.id.toString()) }}">View Details</a>
    </footer>
  </section>
</article>
